.navbar-container{
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    list-style: none;
}